.chat-main {
  width: 100vw;
  height: 100vh;
  font: 14px / 1.5 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,Microsoft YaHei UI,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.chat-main .header {
  width: calc(100% - 10px);
  height: 40px;
  background-color: black;
  color: white;
  line-height: 40px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.chat-main .content {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
}

.chat-input-wrapper {
  width: 100%;
  height: 100%;
  background-color: #0a0a0a50;
}

.chat-list-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #0a0a0a50;
}
